<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">my_information</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
            <ion-card-title>IO-BIBLE</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <h1>Name:</h1>
            <p>BAMELA JORDAN</p>
            <h1>Email:</h1>
            <p>zoojohan10&#64;gmail.com</p>
            <h1>Phone:</h1>
            <ion-list>
                <li>(+237) 657765075 </li>
                <li>(+237) 620118916</li>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>